name: 'sntpc test'

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  schedule:
    - cron: '0 10 * * 1'

jobs:
  clippy:
    name: Run clippy with stable
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: clippy
      - name: Run clippy on sntpc crate and all examples
        run: cargo xtask clippy

  clippy-nightly:
    name: Run clippy with nightly
    runs-on: ubuntu-latest
    container:
      image: rust:latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly
          components: clippy
      - name: Run clippy for async feature with nightly
        run: cargo +nightly xtask clippy

  check-format:
    name: Check formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: rustfmt
      - name: Check formatting
        run: cargo xtask format

  build-test:
    name: Build crate and test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
      - uses: taiki-e/install-action@cargo-llvm-cov
      - uses: taiki-e/install-action@nextest
      - name: Build sntpc with all features
        run: cargo xtask build-crate --all-features
      - name: Build sntpc with no default features
        run: cargo xtask build-crate --no-default-features
      - name: Build no-std examples
        run: cargo xtask build-nostd
      - name: Build unix examples
        run: cargo xtask build-unix
      - name: Build cross-platform examples
        run: cargo xtask build-cross-platform
      - name: Run tests with all features and without default features
        run: cargo xtask test
        working-directory: sntpc
      - name: Run tests with std features
        run: cargo xtask coverage
        working-directory: sntpc
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: lcov.info
          fail_ci_if_error: true

  benchmark:
    name: Benchmark sync and async API
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Start test NTP server
        run: uvx --from git+https://github.com/vpetrigo/ntpserver@master ntpserver > /dev/null &
      - name: Run benchmarking
        run: cd sntpc && cargo bench --bench async --bench sync --features sync -- --output-format bencher | tee output.txt
      - name: Kill NTP server
        run: pgrep -f ntpserver | xargs kill
      - name: Store benchmark result
        uses: benchmark-action/github-action-benchmark@v1
        with:
          tool: 'cargo'
          output-file-path: sntpc/output.txt
          github-token: ${{ secrets.GITHUB_TOKEN }}
          fail-on-alert: true
          comment-on-alert: true
          alert-comment-cc-users: '@vpetrigo'
